{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    body {
      min-height: 75rem;
      padding-top: 4.5rem;
    }

    .score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    }
    
    .score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
    }
    
    .score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    }
    
    .score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
    }
  </style>
{% endblock %}
{% block content %}
<h4 class="mt-5">CONTENIDO DETALLADO DE CONVERSION DE IMAGENES</h4>

<!-- Botón desplegable para filtros de ordenación -->
<div class="dropdown mb-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Ordenar por
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='timestamp', order='desc') }}">Fecha (Más recientes)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='timestamp', order='asc') }}">Fecha (Más antiguos)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='red_pixels', order='desc') }}">Píxeles Rojos (Mayor a menor)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='red_pixels', order='asc') }}">Píxeles Rojos (Menor a mayor)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='file_name', order='asc') }}">Nombre del Archivo (A-Z)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='file_name', order='desc') }}">Nombre del Archivo (Z-A)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='user_name', order='asc') }}">Usuario (A-Z)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('index', sort_by='user_name', order='desc') }}">Usuario (Z-A)</a></li>
  </ul>
</div>

{% if images %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Red Pixels</th>
        <th>Green Pixels</th>
        <th>Blue Pixels</th>
        <th>Image Name</th>
        <th>Uploaded At</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
        <tr>
          <td>{{ image.user_name }}</td>
          <td>{{ image.red_pixels }}</td>
          <td>{{ image.green_pixels }}</td>
          <td>{{ image.blue_pixels }}</td>
          <td>{{ image.file_name }}</td>
          <td>{{ image.timestamp }}</td>
          <td>
            {% if image.image_path %}
              <img src="{{ url_for('uploaded_file', filename=image.image_path) }}" alt="Uploaded Image" style="width: 100px; height: 100px;">
            {% else %}
              <p>No image available</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No uploaded images yet.</p>
{% endif %}

<div class="d-flex justify-content-end mt-3">
  <!-- Botón para subir una nueva imagen -->
  <a href="{{ url_for('upload_image') }}" class="btn btn-success me-2">Upload New Image</a>

  <!-- Botón para limpiar la tabla -->
  <form method="POST" action="{{ url_for('clear_records') }}" style="display: inline;">
    <button type="submit" class="btn btn-danger">Clear Table</button>
  </form>
</div>
{% endblock %}